[init]
	defaultBranch = main
[user]
	email = louis.hildebrand@mail.mcgill.ca
	name = Louis Hildebrand
[credential]
	helper = ! ~/.dotnet/tools/git-credential-manager
	credentialStore = secretservice
[credential "https://dev.azure.com"]
	useHttpPath = true
[pull]
	rebase = true
[alias]
	s = 'status'
	a = 'add'
	c = 'commit'
    sw = 'switch'
    graph = 'log --graph --all --oneline'
